@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

:root {
    --animate-duration: 2s;
    --animate-delay: 0.9s;
}

.form-width{
    width: 100%;
}
.custom-width{
    width: 50%;
}
/* --- Get started Button Animation start ---*/

  /* --- Get started Button Animation end ---*/

  /* Sign In Button Animation Started*/
.signin-btn-anim {
    display: inline-block;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
   }
   
   .signin-btn-anim::before,
   .signin-btn-anim::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
   }
   
   .signin-btn-anim::before {
    left: -10px;
    background: #36c797;
   }
   
   .signin-btn-anim::after {
    right: -10px;
    background: #36c797;
   }
   
   .signin-btn-anim:hover::before,
   .signin-btn-anim:hover::after {
    width: 58%;
   }
   
   .signin-btn-anim:hover span {
    color: #ffffff;
    transition: 0.3s;
   }
   
   .signin-btn-anim span {
    color: #2c2c36;
    transition: all 0.3s ease-in;
   }

  /* Sign In Button Animation End*/

  /* Sign Up Button Animation Started*/
  .signup-btn-anim {
    position: relative;
    z-index: 1;
    overflow: hidden;
   }
   
   .signup-btn-anim:hover {
    color: black;
   }
   
   .signup-btn-anim:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }
   
   .signup-btn-anim:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }

/* Sign Up Button Animation End*/

 /* Input design Started*/

 input{
    caret-color: #13cc85;
 }

 /* Input design End */

/*Registration Button design Started*/
 .reg-submit-btn {
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: 20px 30px;
    perspective: 30rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
  }
  
  .reg-submit-btn::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(320deg, rgba(0, 255, 170, 0.678), rgba(0, 128, 90, 0.308));
    z-index: 1;
    transition: background 3s;
  }
  
  .reg-submit-btn:hover::before {
    animation: rotate 1s;
    transition: all .5s;
  }
  
  @keyframes rotate {
    0% {
      transform: rotateY(180deg);
    }
  
    100% {
      transform: rotateY(360deg);
    }
  }

  /*Registration Button design End*/

  /* Log In Button Design Started */

  .log-in-btn{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .log-in-btn .span-mother {
    display: flex;
    overflow: hidden;
  }
  
  .log-in-btn:hover .span-mother {
    position: absolute;
  }
  
  .log-in-btn:hover .span-mother span {
    transform: translateY(1.2em);
  }
  
  .log-in-btn .span-mother span:nth-child(1) {
    transition: .2s;
  }
  
  .log-in-btn .span-mother span:nth-child(2) {
    transition: .3s;
  }
  
  .log-in-btn .span-mother span:nth-child(3) {
    transition: .4s;
  }
  
  .log-in-btn .span-mother span:nth-child(4) {
    transition: .5s;
  }
  
  .log-in-btn .span-mother span:nth-child(5) {
    transition: .6s;
  }
  
  .log-in-btn .span-mother span:nth-child(6) {
    transition: .7s;
  }
  .log-in-btn .span-mother span:nth-child(7) {
    transition: .8s;
  }
  
  .log-in-btn .span-mother2 {
    display: flex;
    position: absolute;
    overflow: hidden;
  }
  
  .log-in-btn .span-mother2 span {
    transform: translateY(-1.2em);
  }
  
  .log-in-btn:hover .span-mother2 span {
    transform: translateY(0);
  }
  
  .log-in-btn .span-mother2 span {
    transition: .2s;
  }
  
  .log-in-btn .span-mother2 span:nth-child(2) {
    transition: .3s;
  }
  
  .log-in-btn .span-mother2 span:nth-child(3) {
    transition: .4s;
  }
  
  .log-in-btn .span-mother2 span:nth-child(4) {
    transition: .5s;
  }
  
  .log-in-btn.span-mother2 span:nth-child(5) {
    transition: .6s;
  }
  
  .log-in-btn .span-mother2 span:nth-child(6) {
    transition: .7s;
  }
  .log-in-btn .span-mother2 span:nth-child(7) {
    transition: .8s;
  }

  /* Log In Button Design End */


  