<!DOCTYPE html>

{% extends 'base.html' %}
{% block titleblock %}
About Us
{% endblock %}
{% block bodyblock %}
  <div class="main-section flex items-center  justify-between">
    <div class="header-text-section text-center text-[#2f3542] lg:text-left lg:w-1/2 px-6 px-6">
        <h1 class="text-5xl font-bold opacity-100">About US</h1>
        <p class="text-3xl font-normal opacity-100">We are a team of dedicated professionals who are passionate about creating innovative solutions for transportation systems.</p>
    </div>
    <div class="overflow-x-auto w-full mt-[1%] px-6">
        <table class="table w-full">
          <!-- head -->
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <!-- row 1 -->
            <tr>
              <td>
                <div class="flex items-center space-x-3">
                  <div class="avatar">
                    <div class="mask mask-squircle w-12 h-12">
                      <img src="https://scontent.fdac5-2.fna.fbcdn.net/v/t39.30808-6/274638853_2002562839924782_509053203603843256_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=174925&_nc_eui2=AeFDMy8U5IwGvD2KifDytqMeaWvDnPxrmCBpa8Oc_GuYIGoC5hJ1jEpEQX2XCDMe2aDm70OoJT6dAnMJniYkRUIx&_nc_ohc=Mxd68n_SnnAAX_gXAfk&_nc_ht=scontent.fdac5-2.fna&oh=00_AfD7yfE1xl7CtQ83l4pQ2eZN03e6jF8x8o4tARkLCaKBVA&oe=63FC36A2" alt="Avatar Tailwind CSS Component" />
                    </div>
                  </div>
                  <div>
                    <div class="font-bold">Md. Ohiduzzaman</div>
                    <div class="text-sm opacity-50">Dhaka City College</div>
                  </div>
                </div>
              </td>
              <td>
                ohiduzzaman.ove.46@gmail.com
              </td>
              <td>01822847536</td>
              <th>
                <button class="btn btn-ghost btn-xs">show more</button>
              </th>
            </tr>
            <!-- row 2 -->
            <tr>
                <td>
                  <div class="flex items-center space-x-3">
                    <div class="avatar">
                      <div class="mask mask-squircle w-12 h-12">
                        <img src="https://scontent.fdac5-1.fna.fbcdn.net/v/t1.6435-9/149038161_1354445811556192_3586825041121542585_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=174925&_nc_eui2=AeEiLbsfXkYvu5NaCMJLnK_uKJmoeod9Ju4omah6h30m7mvAtAcju8YuLwZt-Xk5vOHF1sbegnL6gIlKtKFFXy-n&_nc_ohc=No2iCszUCu8AX8yL3cF&_nc_ht=scontent.fdac5-1.fna&oh=00_AfArMNBoHQ-4h8jL-czkMPZ4jvn3GDWBxkWOO1PajK6-IA&oe=641F2E96" alt="Avatar Tailwind CSS Component" />
                      </div>
                    </div>
                    <div>
                      <div class="font-bold">Foysal Ahmed</div>
                      <div class="text-sm opacity-50">National University</div>
                    </div>
                  </div>
                </td>
                <td>
                  foysalthedesigner@gmail.com
                </td>
                <td>01725720666</td>
                <th>
                  <button class="btn btn-ghost btn-xs">show more</button>
                </th>
              </tr>
            
            <!-- row 3 -->
            <tr>
                <td>
                  <div class="flex items-center space-x-3">
                    <div class="avatar">
                      <div class="mask mask-squircle w-12 h-12">
                        <img src=" https://scontent.fdac142-1.fna.fbcdn.net/v/t31.18172-8/20368822_1339392416176631_7615472444071078686_o.jpg?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeF8VFcduKX9mABs63RFOz0OLtRi6zv8KlMu1GLrO_wqU07ZMFrNJKKaOnF8d5rcpoFuuXHJL7kEvgPftzLaNJs8&_nc_ohc=z7qdTB0YN2QAX8BPQyr&_nc_ht=scontent.fdac142-1.fna&oh=00_AfAQEwmFwKnL5S8-PU_U7B1Umcf36bsMhQmW3eJ2ZIGeUw&oe=641F223E " alt="Avatar Tailwind CSS Component" />
                      </div>
                    </div>
                    <div>
                      <div class="font-bold">MD. Lukman Ahmed</div>
                      <div class="text-sm opacity-50">Islamic Arabic University</div>
                    </div>
                  </div>
                </td>
                <td>
                    lukmanbinharun@gmail.com
                </td>
                <td>01751909901</td>
                <th>
                  <button class="btn btn-ghost btn-xs">show more</button>
                </th>
              </tr>
           
            <!-- row 4 -->
            <tr>
                <td>
                  <div class="flex items-center space-x-3">
                    <div class="avatar">
                      <div class="mask mask-squircle w-12 h-12">
                        <img src="https://scontent.fdac5-1.fna.fbcdn.net/v/t39.30808-6/259390881_896681241210258_3195049384951034362_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHL3CVU-rhIwVCuM94csq5rgOk6xsUdVJaA6TrGxR1Ull-QJksYxU6S2sb8ywe8yNeOwEKLAU4sdsE7u2pjOdlK&_nc_ohc=FrwvH34CY7kAX9hIUG8&_nc_ht=scontent.fdac5-1.fna&oh=00_AfA3BE3A_1lVt9Dqfkush_eHxF3mOwZT0ncZov5eRBG9Wg&oe=63FD4F70" alt="Avatar Tailwind CSS Component" />
                      </div>
                    </div>
                    <div>
                      <div class="font-bold">Tomal Roy</div>
                      <div class="text-sm opacity-50">Titumir College</div>
                    </div>
                  </div>
                </td>
                <td>
                    roytomal840@gmail.com
                </td>
                <td>01641-280398</td>
                <th>
                  <button class="btn btn-ghost btn-xs">show more</button>
                </th>
              </tr>
              <!-- row 5 -->
            <tr>
                <td>
                  <div class="flex items-center space-x-3">
                    <div class="avatar">
                      <div class="mask mask-squircle w-12 h-12">
                        <img src="https://scontent.fdac5-2.fna.fbcdn.net/v/t39.30808-6/318585030_213887244318101_2087761680845429291_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGx172lnHXi3j_qefZk1LPJ3pCZ8myJIfTekJnybIkh9IO2rfWhaLrngeJYkg0T7BHp_bpg-H0zk94GdXjExFqC&_nc_ohc=281g85O2V2QAX84M5AC&_nc_ht=scontent.fdac5-2.fna&oh=00_AfD3nFy6j93ljyd-3TmAwtZGGso12Sw1jJedHSvpP2QcDQ&oe=63FDA08C" alt="Avatar Tailwind CSS Component" />
                      </div>
                    </div>
                    <div>
                      <div class="font-bold">Shakib Hasan Readoy</div>
                      <div class="text-sm opacity-50">IUBAT University</div>
                    </div>
                  </div>
                </td>
                <td>
                    shakib7784@gmail.com
                </td>
                <td>01741162765</td>
                <th>
                  <button class="btn btn-ghost btn-xs">show more</button>
                </th>
              </tr>
               <!-- row 6 -->
            <tr>
                <td>
                  <div class="flex items-center space-x-3">
                    <div class="avatar">
                      <div class="mask mask-squircle w-12 h-12">
                        <img src="https://scontent.fdac5-2.fna.fbcdn.net/v/t1.6435-9/67398341_2332188563714903_1728208588377161728_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=174925&_nc_eui2=AeE4buYaHypxwe5s-dlR1cjQ_biWHXwwnED9uJYdfDCcQEH-3U7099CaxZAnu0kguuxuAybf8p01p64Wu-CclfsA&_nc_ohc=EDi5DyFjtsMAX8PGsoK&_nc_ht=scontent.fdac5-2.fna&oh=00_AfDDn0HwpmntANpxNYsdnqZFD6RMXvjM4R60l--frytYPw&oe=641F1FF6" alt="Avatar Tailwind CSS Component" />
                      </div>
                    </div>
                    <div>
                      <div class="font-bold">Amit Sarker</div>
                      <div class="text-sm opacity-50">National University</div>
                    </div>
                  </div>
                </td>
                <td>
                    amitsarker95@gmail.com
                </td>
                <td>01718332515</td>
                <th>
                  <button class="btn btn-ghost btn-xs">show more</button>
                </th>
              </tr>
            
          </tbody>
          <!-- foot -->
        </table>
      </div>
      

{% endblock %}
