<!DOCTYPE html>

{% extends 'base.html' %}
{% block titleblock %}
About Us
{% endblock %}
{% block bodyblock %}
<div style="background: rgb(143,255,206);
background: linear-gradient(63deg, rgba(143,255,206,0.5970763305322129) 0%, rgba(46,245,116,0.6530987394957983) 100%);">
  <div class="flex-col items-center justify-center pb-10 bg-opacity-80">
    <div class="text-center text-[#2f3542] px-6 pt-8">
      <h1 class="text-6xl font-bold opacity-100 mb-5 animate__animated animate__fadeInDown">About Us</h1>
      <p class="text-3xl mx-auto font-normal rounded-box opacity-100 backdrop-blur-md p-5 w-4/5">We are a team of
        dedicated professionals who are passionate<br>about creating innovative solutions for transportation systems.
      </p>
    </div>
    <div class="overflow-x-auto w-4/5 mx-auto mt-[2%] px-6 mb-8">
      <table class="table w-full">
        <!-- head -->
        <thead>
          <tr>
            <th class="text-[16px]">Name</th>
            <th class="text-[16px]">Email</th>
            <th class="text-[16px]">Phone Number</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for i in val %}
          <!-- row 1 -->
          <tr>
            <td>
              <div class="flex items-center space-x-3">
                <div class="avatar">
                  <div class="mask mask-squircle w-12 h-12">
                    <img
                      src="{{i.image.url}}"
                      alt="Avatar Tailwind CSS Component" />
                  </div>
                </div>
                <div>
                  <div class="font-bold">{{i.name}}</div>
                  <div class="text-sm opacity-50">{{i.descrption}}</div>
                </div>
              </div>
            </td>
            <td>
              {{i.email}}
            </td>
            <td>{{i.phone}}</td>
            <th>
              <button class="btn btn-ghost btn-xs">show more</button>
            </th>
          </tr>
          <!-- row 2 -->
         {% endfor %}
        
        </tbody>
        <!-- foot -->
      </table>
    </div>
  </div>
</div>


{% endblock %}
