<!DOCTYPE html>

{% extends 'base.html' %}
{% block titleblock %}
home
{% endblock %}
{% block bodyblock %}

<div class="w-100 backdrop-blur-md p-5 flex justify-center">
    {% if trips %}
    <div class="grid grid-cols-3 gap-5 w-[80%]">
        <h1 class="text-2xl font-bold">From: <span>{{trips.from_station}}</span> </h1>
        <h1 class="text-2xl font-bold">To: <span>{{trips.to_station}}</span> </h1>
        <h1 class="text-2xl font-bold">Class: <span>{{trips.seat_type}}</span> </h1>
        <h1 class="text-2xl font-bold">Date : <span>{{trips.date}}</span> </h1>
        <h1 class="text-2xl font-bold">Seats : <span>{{trips.seat_quantity}}</span> </h1>
        <h1 class="text-2xl font-bold">Cost : <span>{{trips.cost}}</span> </h1>
    </div>
    {% endif %}
</div>

{% endblock %}